{% load static %}
<!--  -->
{% block head %}
<link rel="stylesheet" href="{% static 'css/nav.css' %}" />
{% endblock %}
<nav>
    <ul>
        <li class="logo">MyBlog</li>

        <li>
            <a href="/">درباره ما</a>
        </li>

        <li>
            <a href="/posts/">پست‌ها</a>
        </li>

        {% if user.is_authenticated %}
        <li class="user-avatar">
            <img src="{{ user.profile.avatar.url }}" alt="avatar" />
        </li>
        {% endif %}
    </ul>
</nav>
